$fontFamily: "Helvetica Neue",
helvetica,
'lucida grande',
'lucida sans unicode',
lucida,
'Hiragino Sans GB',
'Microsoft YaHei',
'WenQuanYi Micro Hei',
sans-serif; // 字体
// 主色和强调色
$primaryColor: #00ADB5; // 主色
$darkerPrimaryColor: #00ADB5; // 更深的主色
$lighterPrimaryColor: #3CCECA; // 浅一点的主色
$assistantColor: #fafafa; // 辅助色
$darkerAssistantColor: #f5f5f5; // 更深的辅助色
$darkestAssistantColor: #dddddd; // 更深的辅助色
$accentColor: #FF1744; // 强调色
$darkerAccentColor: #ddd; // 更深的强调色
$lighterAccentColor: #ddd; // 浅一点强调色
// 文本颜色
$fontColor: #393E46;
$lighterFontColor: #999999;

$borderColor: #dddddd;
$lighterBorderColor: #f1f1f1;
